<style type="text/css">
#accordion {
/* width:90%;*/
 margin:10px auto;
 border:2px solid white;
 -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
 -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
 box-shadow:0px 1px 3px rgba(0,0,0,0.4);
}
option:empty
{
 display:none;
}

#accordion h2 {
 cursor:pointer;
 margin:0px 0px;
 padding:16px 15px;
 background-color:black;
 font:bold 11px Verdana,Arial,Sans-Serif;
 color:white;
 text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

#accordion .content {
 background-color:white;;
 padding:10px 15px;
 color:black;
 height:auto; 
 padding-top: 2em;   
}

#accordion h2.active {
 background-color:rgba(51, 122, 183, 0.68);
}
input::-webkit-input-placeholder {color: black !important;
font-weight: bold;} 

 </style>
 <script src="..//sanjivika/js/Scripts/xlsx.js"></script>

    <div class="row">
                    <div class="col-lg-12">
                      <h1 class="page-header">
                          <small>Add Stock</small>
                        </h1>
                        
                    </div>
                </div>
 <div id="accordion">
    <h2>Add Brand</h2>
    <div class="content">
 <form class="well" name="formAddBrand" ng-submit="save()">
                      <div class="form-group">
                           <label for="name">Brand Name</label> 
                          <input type="name" class="form-control" id="name" ng-model="brand" placeholder="Enter Brand Name" required />
                     </div>
                     <p>{{brandMsg}}</p> 
                        <button type="submit" class="btn btn-primary" ng-disabled="formAddBrand.$invalid" >Submit</button>
                  </form>
    </div>
    <h2>Add Product</h2>
    <div class="content">
                  <form class="well" name="formAddProdct" ng-submit="saveProduct()">
                      <div class="form-group">
                               <label for="name"> Select Brand</label>
                                <select class="form-control" ng-model="SelectedBrand">
                                 <option disabled selected value="-1"> -- select a product -- </option>
                                          <option  ng-repeat="p in brandsDropDown" value="{{p.id}}" class="form-control">{{p.brandName}}</option>         
                                 </select>
                                    <label for="name"> Product Name With HSN Number</label>
                                      <input type="name" class="form-control" ng-disabled="SelectedBrand==-1" id="name" ng-model="Product" placeholder="Enter Product Name" required />
                        </div>   
                        <p>{{productMsg}}</p>
                                      <button type="submit" ng-disabled="formAddProdct.$invalid"  class="btn btn-primary">Submit</button>
                                      
                  </form>
    </div>
    <h2>Add Godown</h2>
    <div class="content">
                    <form class="well" name="formAddGodown" ng-submit="saveGodown()">
                                  <div class="form-group">
                                      <label for="name">Godown Name</label>
                                      <input type="name" class="form-control" id="godown" ng-model="Godown" placeholder="Enter Godown Name" required />
                                  </div>
                                  <p>{{GodownMsg}}</p>
                                  <button type="submit" class="btn btn-primary" ng-disabled="formAddGodown.$invalid">Submit</button>
                    </form>                 
    </div>
    <h2>Upload From Excel</h2>
    <div class="content" id="content1">
    <form class="well" name="formTestExcelUpload">
                      <div class="form-group">
                               <label for="name"> Select Brand</label>
                                 <select class="form-control" ng-model="SelectedBrand" ng-change="selectedBrand(SelectedBrand)">
                                 <option disabled selected value="-1"> -- select a brand -- </option>
                                          <option    ng-repeat="p in brandsDropDown" value="{{p.id}}" class="form-control">{{p.brandName}}</option>         
                                 </select>
                                    <label for="name"> Select Product </label>
                                      <select class="form-control" ng-model="SelectedProduct" ng-disabled="uploadexceldisableproduct">
                                      <option disabled selected value="-1"> -- select a product -- </option>
                                          <option  ng-repeat="p in productDropDown" value="{{p.id}}" class="form-control">{{p.productname}}</option>         
                                 </select>
                                 <label for="name"> Select Godown</label>
                                      <select class="form-control" ng-model="SelectedGodown"  ng-disabled="SelectedProduct==-1">
                                      <option disabled selected  value="-1"> -- select a godown -- </option>
                                          <option    ng-repeat="p in godownsDropDown" value="{{p.id}}" class="form-control">{{p.godownName}}</option>         
                                 </select>
                                 <label for="name">Choose Excel File</label>
                                     <input file-model='fileModel' type="file"  ng-disabled="SelectedGodown==-1" name="xlfile" accept=".xlsx" id="xlf">{{msgStock}}
                        </div>
                      
                                      <button type="submit" class="btn btn-primary" ng-disabled="fileModel==null" ng-click="saveStock();">Submit</button>
                  </form>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('#accordion .content').hide();
    $('#accordion h2:first').addClass('active').next().slideDown('slow'); 
    $('#accordion h2').click(function() {
        if($(this).next().is(':hidden')) {
            $('#accordion h2').removeClass('active').next().slideUp('slow');
            $(this).toggleClass('active').next().slideDown('slow');
        }
        /*if($(this).next().is(':visible')) {
           
            $(this).toggleClass('active').next().slideUp('slow');
        }*/
    });
});
</script>