<style type="text/css">
.cart {
    overflow:hidden;
    padding:10px 3px;
    background: yellow;
}
</style>
<script type="text/javascript">
$('span').tooltip();
</script>
 <div class="row">
                    <div class="col-lg-12">
                      <h1 class="page-header">
                          <small>View Stock</small>
                        </h1>
                        
                    </div>
                </div>
<div class="row">
    <div class="col-lg-12"> 
    <div class="form-group pull-right">
    <input type="text" class="search form-control" ng-model="searchItem" placeholder="Search item here" >
</div>
</div>
        <div class="col-lg-12">  
                <table class="table table-striped">
                    <thead >
                            <tr>
                                <th ng-click="sort('brand.brandName')" >Brand Name 
                                <span class="glyphicon sort-icon" ng-show="sortKey=='brand.brandName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('product.productname')">Product
                                <span class="glyphicon sort-icon" ng-show="sortKey=='product.productname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('modelNumber')">Model Number
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='modelNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('serialNumber')">Serial Number
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='serialNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('mrp')">MRP
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='mrp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('dp')">DP
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='dp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('godown.godownName')">Godown Name
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='godown.godownName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th>Avability</th>
                       
                            </tr>
                    </thead>
                    <tbody>
                            <tr dir-paginate="x in viewItem |filter : searchItem | itemsPerPage:50 | orderBy: sortKey:reverse">
                                <td>{{x.brand.brandName}}</td>
                                <td>{{x.product.productname}}</td>
                                <td>{{x.modelNumber}}</td>
                                <td>{{x.serialNumber}}</td>
                                <td>{{x.mrp}}</td>
                                <td>{{x.dp}}</td>
                                <td>{{x.godown.godownName}}</td>
                                <td><span  ng-if="x.status!=0"class="glyphicon glyphicon-ok-circle" data-placement="right" data-toggle="tooltip" data-original-title="In Stock "style="font-size:28px;color:green"></span>
<span ng-if="x.status==0" class="fa fa-times-circle-o" data-placement="right" data-toggle="tooltip" data-original-title="Out Of Stock" style="font-size:32px;color:Red"></span>
                                </td>
                              
                            </tr>
                        
                    </tbody>
                </table>
               <div style="text-align:center">
                          <dir-pagination-controls
                          max-size="5"
                          direction-links="true"
                          boundary-links="true" >
                          </dir-pagination-controls> 
                        </div>
        </div>


</div>
